body{

    font-family: Arial, sans-serif;

    background-color: #f2f7fa;

    margin: 0;

    padding: 30px;

}

h1{

    text-align: center;

    color: #008b8b;

}

h2{

    color: #008b8b;

}

a{

    text-decoration: none;

}

form{

    width: 700px;

    margin: auto;

    background-color: white;

    padding: 30px;

    border-radius: 15px;

    box-shadow: 0 0 10px lightgray;

}

input[type="text"],

input[type="number"],

input[type="email"],

input[type="password"],

input[type="date"],

input[list],

select,

textarea{

    width: 100%;

    padding: 8px;

    margin-top: 5px;

    margin-bottom: 15px;

    box-sizing: border-box;

}

input[type="radio"],

input[type="checkbox"]{

    width: auto;

    margin-right: 5px;

}

label{

    margin-right: 15px;

}

.encabezado{
    text-align: center;

    margin-bottom: 20px;
}

.encabezado p{

    font-size: 18px;

}

.encabezado a{

    text-decoration: none;

    font-weight: bold;

}

.encabezado img{

    width: 120px;

    height: auto;

}

.logo-about{

    display: block;

    width: 250px;

    height: auto;

    margin: auto;

}

.contenedor-about{

    width: 800px;

    margin: auto;

    background-color: white;

    padding: 30px;

    border-radius: 15px;

    box-shadow: 0 0 10px lightgray;

}

.contenedor-about p{

    text-align: justify;

    line-height: 1.6;

}

.contenedor-about ul{

    line-height: 1.8;

}

.info-sistema{

    background-color: #f7f7f7;

    border: 1px solid lightgray;

    border-radius: 10px;

    padding: 20px;

    margin-top: 10px;

}

.info-sistema p{

    text-align: center;

    margin: 8px 0;

}

.contenedor-about a{

    display: inline-block;

    margin-top: 20px;

    font-weight: bold;
    
}



#resumen_paciente{
    width: 700px;
    margin: 30px auto;
}

#resumen_paciente h2{
    text-align: center;
    color: #008b8b;
}

#resumen_paciente p{
    background-color: white;
    padding: 10px;
    margin: 6px 0;
    border-left: 5px solid #008b8b;
    border-radius: 5px;
    box-shadow: 0 0 5px lightgray;
}

#resumen_paciente strong{
    color: #008b8b;
}